@import '../../app/globals.css';

/* common codes styling */
li {
    list-style: none;
    padding: 5px 0px;
}



/* Main Header Containers */
.Header-items {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 12rem;
    background-color: var(--grey-light);
}


/* menus items  */
.menu-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menus-items{
    display: flex;
    justify-content: space-evenly;
}

.menus{
    padding: 0rem 1rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
}
.btn-main{
    width: 11rem;
    height: 3rem;
    flex-shrink: 0;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 0.75rem;
    background-color: var(--orange);
    color: var(--plain-white);
}


/* mobile view */
.navbar-mobile{
    cursor: pointer;
    display: none;
    position: relative;

}

.navbar-mobile_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: start;
    padding: 2rem;
    position: fixed;
    right: 0px;
    top: 0rem;
    margin-top: 1rem;
    width: 100%;
    height: 100vh;
    border-radius: 5px;
    background-color: var(--grey-light);
    text-align: center;
}


.navbar-mobile_container {
    background-color: var(--grey-light);
}

.mobile-header{
    display: none;
}



@media screen and (max-width: 1050px) {
    .mobile-header{
        display: flex;
        justify-content: space-around;
        background-color: var(--grey-light);

    }
    .mobile-header{
        display: none;
    }
    
    
    .navbar-mobile_container-links{
        display: none;
    }
    .Header-items{
        justify-content: space-around;
        padding: 1rem 1rem;
    }
    .btn-div{
        display: none;
    }


    .navbar-mobile{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar-mobile svg{
        z-index: 10;
    }
}

@media screen and (max-width: 800px) {
    .navbar-mobile_container-links{
        display: block;
    }
    .Header-items{
        display: none;
    }
    .mobile-header{
        display: flex;
    }
    .navbar-mobile_container{
        margin-top: 3rem;
    }


    
}

@media screen and (max-width: 550px) {

}








