@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --plain-white :#fff;
  --grey-light : #E0EAF3;
  --orange : #F86642;
  --dark-brown : #292526;
  --text-colors : #000000; 

}

::selection{
  background-color: #F86642;
  color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

body {
  background-color: rgb(var(--plain-white));
  color: rgb(var(--text-colors));
}
